<section class="main">
    <aside class="container">
        <aside class="text">
            <h2>Handpicked Residential Projects</h2>
            <p class="sub-head">Featured Residential Projects Around World</p>
        </aside>

        <aside class="card-group">
            <aside class="card-main">

                <aside class="img-area">
                    <img src="../../assets/home.jpg" alt="">
                </aside>
                <aside class="rent-text">
                    <span>Rent</span>
                </aside>
                <aside class="card-text">
                    <h3>Hill Top View ResidentialS</h3>
                    <P class="card-text-p">2BHK Apartments,sector-16,USA</P>
                    <h4>$1,000</h4>
                </aside>
                <aside class="card-round">
                    <aside class="icon"><span class="material-icons-round">
                            apartment
                        </span></aside>
                </aside>
            </aside>

            <aside class="card-main">

                <aside class="img-area">
                    <img src="../../assets/home.jpg" alt="">
                </aside>
                <aside class="rent-text">
                    <span>Rent</span>
                </aside>
                <aside class="card-text">
                    <h3>Hill Top View ResidentialS</h3>
                    <P class="card-text-p">2BHK Apartments,sector-16,USA</P>
                    <h4>$1,000</h4>
                </aside>
                <aside class="card-round">
                    <aside class="icon"><span class="material-icons-round">
                            apartment
                        </span></aside>
                </aside>
            </aside>

            <aside class="card-main">

                <aside class="img-area">
                    <img src="../../assets/home.jpg" alt="">
                </aside>
                <aside class="rent-text">
                    <span>Rent</span>
                </aside>
                <aside class="card-text">
                    <h3>Hill Top View ResidentialS</h3>
                    <P class="card-text-p">2BHK Apartments,sector-16,USA</P>
                    <h4>$1,000</h4>
                </aside>
                <aside class="card-round">
                    <aside class="icon"><span class="material-icons-round">
                            apartment
                        </span>
                    </aside>
                </aside>
            </aside>
        </aside>
    </aside>

</section>