<header class="nav">
    <aside class="main-content">
        <aside class="logo">

            <img src="../../assets/logo.img.png" alt="">
        </aside>
        <aside class="brand-area">
        <p class="brand-name"><span class="brand-name2">REVO.</span>HOME</p>
        <P class="tag-line">REAL ESTATE WILL NEVER BE THE SAME</P>
      </aside>

    </aside>
        <aside class="list">
            <ul class="list-content">
                <li class="list-items">Home</li>
                <li class="list-items">
                    <select name=""id="" class="list-select">
                        <option value="" class="list-option">Category</option>
                    </select>
                </li>
                <li class="list-items">Revo Builders</li>
                <li class="list-items">List Property</li>
                <li class="list-items">Sign Up</li>
                <li class="list-items">
                    <select name=""id="" class="list-select">
                        <option value="" class="list-option">My Account</option>
                    </select>
                </li>

            </ul>
        </aside>

        
</header>
