<section class="footer">
    <aside class="content">
        <aside class="lists">
            <ul class="list-items">

                <li class="items">
                    <h2>We are in</h2>
                </li>
                <li class="items">USA></li>
                <li class="items">China></li>
                <li class="items">India></li>
                <li class="items">Canada></li>
                <li class="items">Japan></li>
            </ul>

        </aside>
        <aside class="lists">
            <ul class="list-items">
                <li class="items">
                    <h2>Our Services</h2>
                </li>
                <li class="items">Property Listening</li>
                <li class="items">Property Management</li>
                <li class="items">Loan Services</li>

            </ul>

        </aside>
        <aside class="lists">
            <ul class="list-items">
                <li class="items">
                    <h2>With Us</h2>
                </li>
                <li class="items">Seller</li>
                <li class="items">Builders</li>
                <li class="items">Buyers</li>
                <li class="items">Bank Agent</li>
                <li class="items">Transaction Manager</li>
                <li class="items">Drivers</li>


            </ul>

        </aside>


        <aside class="lists">
            <ul class="list-items">
                <li class="items">
                    <h2>Quick Links</h2>
                </li>
                <li class="items">Properties</li>
                <li class="items">Builders</li>
                <li class="items">Categories</li>
                <li class="items">Builders</li>
            </ul>

        </aside>


        <aside class="lists">
            <ul class="list-items">
                <li class="items">
                    <h2>Help</h2>
                </li>
                <li class="items">FAQ Policy</li>
                <li class="items">Terms & Condition</li>
                <li class="items">Privacy Policy</li>
                <li class="items">Editorial Policy</li>
                <li class="items">Referral Policy</li>
                <li class="items">Site Map

                </li>
            </ul>

        </aside>






    </aside>








</section>



<aside class="icon-area">
    <aside class="icons">
        <span>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>



        </span>
        <p>@2022 REVO Home . All rights reserved.<a href="">Terms</a>|<a href="">Privacy</a></p>


    </aside>
</aside>