<section class="card-area" id="cards">
    <aside class="content-area">

        <aside class="single-card">
            <aside class="img-area">
                <img src="../../assets/img1.svg" alt="" />
            </aside>
            <aside class="text-area">
                <h2>BUY PROPERTY</h2>
                <P>
                    Find your place with an immersive photo experience and the most
                    listings,including things you wont find anywhere else.
                </P>
                <button class="card-btn">Browse</button>
            </aside>

        </aside>
        <aside class="single-card">
            <aside class="img-area">
                <img src="../../assets/img2.svg" alt="" />
            </aside>
            <aside class="text-area">
                <h2>SELL PROPERTY</h2>
                <P>
                    No matter what path you take to sellyour home,we can help you navigate
                    a successful sale
                </P>
                <button class="card-btn">Start Now</button>
            </aside>

        </aside>
        <aside class="single-card">
            <aside class="img-area">
                <img src="../../assets/img1.svg" alt="" />
            </aside>
            <aside class="text-area">
                <h2>RENT PROPERTY</h2>
                <P>
                    Find your place with an immersive photo experience and the most
                    listings,including things you wont find anywhere else.
                </P>
                <button class="card-btn">Find Rentals</button>
            </aside>

        </aside>



    </aside>

</section>