<section class="main">
    <aside class="content">
        <aside class="text">
            <h2>Builders</h2>
        </aside>
        <aside class="cards">
            <aside class="card-group">
                <aside class="single-card">
                    <aside class="img">
                        <img src="../../assets/company1.png" alt="">
                    </aside>
                    <aside class="card-text">
                        <h3>AD Construction</h3>
                        <p>86+ items</p>
                    </aside>
                    <aside class="icon"><span class="material-icons-round">
                            arrow_forward_ios
                        </span></aside>
                </aside>
            </aside>

            <aside class="card-group">
                <aside class="single-card">
                    <aside class="img">
                        <img src="../../assets/company2.png" alt="">
                    </aside>
                    <aside class="card-text">
                        <h3>ABC Builders</h3>
                        <p>90+ items</p>
                    </aside>
                    <aside class="icon"><span class="material-icons-round">
                            arrow_forward_ios
                        </span></aside>
                </aside>
            </aside>


            <aside class="card-group">
                <aside class="single-card">
                    <aside class="img">
                        <img src="../../assets/company3.png" alt="">
                    </aside>
                    <aside class="card-text">
                        <h3>GK Builders</h3>
                        <p>85+ items</p>
                    </aside>
                    <aside class="icon"><span class="material-icons-round">
                            arrow_forward_ios
                        </span></aside>
                </aside>
            </aside>


            <aside class="card-group">
                <aside class="single-card">
                    <aside class="img">
                        <img src="../../assets/company4.png" alt="">
                    </aside>
                    <aside class="card-text">
                        <h3>A Group Construction</h3>
                        <p>130+ items</p>
                    </aside>
                    <aside class="icon"><span class="material-icons-round">
                            arrow_forward_ios
                        </span></aside>
                </aside>
            </aside>


            <aside class="card-group">
                <aside class="single-card">
                    <aside class="img">
                        <img src="../../assets/company5.png" alt="">
                    </aside>
                    <aside class="card-text">
                        <h3>ZG Groups</h3>
                        <p>125+ items</p>
                    </aside>
                    <aside class="icon"><span class="material-icons-round">
                            arrow_forward_ios
                        </span></aside>
                </aside>
            </aside>





        </aside>
    </aside>
</section>