<section class="content">
    <aside class="text">
        <p class="heading">Revolution Starts Here</p>
        <span class="sub-heading">Revo Helps You Get Your Dream Faster</span>
        <button type="button" class="btn">Get Start</button>
    </aside>
    <aside class="bottom-nav">
        <ul class="list">
            <li class="items">BUY</li>
            <li class="items">RENT</li>
            <li class="items">COMMERCIAL</li>
            <li class="items">PG/CO LIVING</li>
            <li class="items">PLOTS</li>
        </ul>

    </aside>
    <aside class="search-bar">
        <ul class="list2">
            <li class="location"><i class="fa-solid fa-location-crosshairs"></i></li>
            <li class="choose">
                <select name="" id="" class="list-select2">
                    <option value="" class="list-option2">Choose locality</option>
                </select>
            </li>
            <li class="search-input"><input type="text" class="search"
                    placeholder="Search for locality,landmark,project or builders"></li>
            <li class="button"><button type="" class="search-btn">Search</button></li>


        </ul>

    </aside>
</section>
<section class="section-2">
    <aside class="popular-searches">
        <ul class="search-lists">
            <li class="search-area"><i class="fa-solid fa-magnifying-glass icon"></i><span class="text-area">Popular
                    Searches</span></li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>
            <li class="searched-items">Search 01</li>





        </ul>
    </aside>

    <aside class="card-group">
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Pay Rent</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Rent Agreement</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Home loan</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Home interior</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Solar Rooftop</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Premium Apartment</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Packers & Movers</p>
            </aside>

        </aside>
        <aside class="card-box">
            <aside class="icon-box"><i class="fa-sharp fa-solid fa-wand-magic-sparkles icons"></i>
                <aside class="round-1"></aside>
                <aside class="round-2"></aside>
            </aside>
            <aside class="card-text">
                <p>Property Management</p>
            </aside>

        </aside>
    </aside>




</section>