<section class="background">
    <aside class="content">
        <aside class="text-area">
            <p>All In One In <span class="sub-head"> Revo</span></p>
            
        </aside>
        <aside class="logo-content">
            <p class="logo-p">Download The App for Free</p>
            <aside class="btns">
                <aside class="icon-area">
                    <aside class="logo">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                    </aside>
                    <aside class="text">
                        <p class="head">Download on the</p>
                        <p class="head2">Appstore</p>
                    </aside>
                </aside>
                <aside class="icon-area">
                    <aside class="logo">
                        <img src="../../assets/google-play.png" alt="" />
                    </aside>
                    <aside class="text">
                        <p class="head">Download on the</p>
                        <p class="head2">playstore</p>
                    </aside>
                </aside>
            </aside>
            </aside>


        </aside>

</section>